# DecisionTreeClassifier

## Step 1- Loading Dependencies

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib as jb
from sklearn import tree

In [2]:
data = pd.read_csv('mldata1.csv')
data.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

## Step 2- Cleaning Data

In [3]:
# Converting Catorical into Numerical 
data['gender'] = data['gender'].replace('Male',1)
data['gender'] = data['gender'].replace('Female',0)
data.head()

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

## Step 3- Split Data

In [4]:
x = data[['weight','gender']]
y = data['likeness']

In [5]:
x.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [6]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

## Step 4- Creating Model

In [7]:
model = DecisionTreeClassifier()
model = model.fit(x,y)
model

DecisionTreeClassifier()

## Step 5- Prediction

In [8]:
model.predict([[60,0]])

array(['Biryani'], dtype=object)

## Step 6- Accuracy

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

# model 
mod = DecisionTreeClassifier()
# fitt model
mod = mod.fit(x_train,y_train)

pred = mod.predict(x_test)
pred

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

In [10]:
# checking Score
score = accuracy_score(y_test,pred)
score

0.5102040816326531

In [11]:
md = DecisionTreeClassifier().fit(x,y)
jb.dump(md,'model.joblib')

['model.joblib']

### Loading joblib model

In [12]:
# load model from joblib
load_model = jb.load('model.joblib')
score = load_model.score(x_test,y_test)
score

0.673469387755102

### Graph

In [13]:
mdl = DecisionTreeClassifier().fit(x,y)
#graph 
tree.export_graphviz(mdl,
                    out_file='graphic.dot',
                    feature_names=['age','gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)